body {
    background-image: url("/images/drinks.gif");
    background-color: #cccccc;
}

h1 {
    text-align: center;
    font-size: 72px;
	text-color: white;
}
p.one {
    border: 1px solid red;
    background-color: yellow;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

